<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img
        src="public/images/logo-maximus.png"
        alt="Maximus Segurança Logo"
        class="footer-logo"
        loading="lazy"
      />
      <p class="footer-description">
        Protegemos o que é mais importante para você. Soluções em segurança
        residencial e corporativa com tecnologia, confiabilidade e atendimento
        especializado.
      </p>
    </div>

    <div class="footer-links">
      <h3>Links Rápidos</h3>
      <ul class="footer-links-list">
        <li><a href="#home">Início</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#about">Sobre Nós</a></li>
        <li>
          <a href="https://wa.me/https://wa.me/5511912636339" target="_blank">Contato</a>
        </li>
      </ul>
    </div>

    <div class="footer-services">
      <h3>Nossos Serviços</h3>
      <ul class="footer-links-list">
        <li>Câmera com Inteligência Artificial</li>
        <li>Botão de Pânico</li>
        <li>Sistema de Alarme</li>
        <li>Aplicativo Maximus</li>
        <li>Cerca Elétrica</li>
        <li>Monitoramento de Abertura e Fechamento</li>
      </ul>
    </div>

    <div class="footer-contact">
      <h3>Contato</h3>
      <ul class="footer-links-list">
        <li>
          <i data-lucide="map-pin" class="contact-icon"></i>
          <span>São Paulo, SP - Brasil</span>
        </li>
        <li>
          <i data-lucide="phone" class="contact-icon"></i>
          <span>11 91263-6339</span>
        </li>
        <li>
          <i data-lucide="mail" class="contact-icon"></i>
          <span>atendimentosp@maximusseg.com.br</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="footer-bottom-p"></p>
  </div>
</footer>
