<header class="header">
  <nav class="nav-container">
    <div class="nav-logo">
      <a href="#home">
        <img
          src="public/images/logo-maximus.avif"
          alt="Maximus Segurança Logo"
          class="logo"
          loading="lazy"
        />
      </a>
    </div>

    <ul class="nav-menu">
      <li><a href="#home" class="nav-link">Início</a></li>
      <li><a href="#services" class="nav-link">Serviços</a></li>
      <li><a href="#contact-section" class="nav-link">Contato</a></li>
    </ul>

    <div class="nav-contact">
      <a href="https://wa.me/5511912636339" target="_blank" class="contact-button">
        Faça um orçamento
        <i data-lucide="phone" class="contact-icon"></i>
      </a>
    </div>

    <button class="mobile-menu-btn" aria-label="Abrir menu">
      <i data-lucide="menu" class="menu-icon"></i>
    </button>
  </nav>

  <div class="mobile-menu">
    <div class="mobile-menu-header">
      <img
        src="public/images/logo-maximus.avif"
        alt="Maximus Segurança Logo"
        class="mobile-logo"
        loading="lazy"
      />
      <button class="close-menu-btn" aria-label="Fechar menu">
        <i data-lucide="x" class="close-icon"></i>
      </button>
    </div>
    <ul class="mobile-nav-menu">
      <li><a href="#home" class="mobile-nav-link">Início</a></li>
      <li><a href="#services" class="mobile-nav-link">Serviços</a></li>
      <li><a href="#contact-section" class="mobile-nav-link">Contato</a></li>
    </ul>

    <div class="nav-contact-mobile">
      <a href="https://wa.me/5511912636339" target="_blank" class="contact-button">
        Faça um orçamento
        <i data-lucide="phone" class="contact-icon"></i>
      </a>
    </div>

  </div>
</header>
